/* Dropdown.css */
.dropdown-button {
  padding: 0.5rem 1rem;
  background-color: #3b82f6; /* Tailwind blue-500 */
  color: white;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.dropdown-button:hover {
  background-color: #2563eb; /* darker blue */
}

.dropdown-menu {
  position: absolute;
  margin-top: 0.5rem;
  width: 10rem;
  background: white;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  z-index: 5;
}

.dropdown-menu button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 0.5rem;
  border: none;
  background: none;
  cursor: pointer;
}

.dropdown-menu button:hover {
  background-color: #f3f4f6; /* light gray */
}

.drop-arrow {
    font-size: 16px;
    transform: rotate(90deg); 
    transition: transform .2s ease;
}