.poke-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    padding: 10px;
    align-self: center;
    justify-content: center;
}

.artwork {
    max-height: 300px;
    width: auto;
    background: #515d76;
    border: 1px solid black;
    cursor: pointer;
    transition: transform 0.1s ease,
                backgrounds 0.1s ease;
}
.artwork {
  opacity: 0; /* start invisible */
  transition: opacity 0.4s ease-in-out;
}

.artwork.loaded {
  opacity: 1; /* fade in when fully loaded */
}

.artwork:hover {
    max-height: auto;
    transform: scale(1.05);
    box-shadow: 0 0 12px rgb(0,0,0,0.4);
    background: #637395;
    z-index: 2;
}
